footprints/ceoloide
output/
.DS_Store
pcbs/fp-info-cache
pcbs/~combined.kicad_pcb.lck
pcbs/reversible.step
gerbers/Archive.zip
pcbs/combined.step
zmk
result

pcbs/~reversible.kicad_pcb.lck
pcbs/reversible.step
pcbs/reversible-backups
