if SHIELD_CHALK_LEFT

config ZMK_KEYBOARD_NAME
    default "Chalk"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHALK_LEFT || SHIELD_CHALK_RIGHT

config ZMK_SPLIT
    default y

endif
